<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2d81885619.js" crossorigin="anonymous"></script>
    <title>Emilia | Music</title>
</head>

<body>
    <nav>
        <img src="img/emilia-music-top.jpg" alt="nav's background">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <nav>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
    </nav>
    <h1>MUSIC //</h1>
    <p>Direct links</p>
    <p>Album</p>
    <p>Video: Organic Love</p>
    <p>Video: Street Light</p>
    <h2>ALBUM</h2>
    <h2>TWIST IN MY REALITY</h2>
    <img src="/img/emilia-play-list.png" alt="Emilia's album cover">
    <ol start="01">
        <li><i class="fa-sharp fa-solid fa-play"></i>Organic Love | 02:40</li>
        <li><i class="fa-sharp fa-solid fa-play"></i>Twist in My Reality | 02:10</li>
        <li><i class="fa-sharp fa-solid fa-play"></i>Steet Light | 03:28</li>
        <li><i class="fa-sharp fa-solid fa-play"></i>Love Don't Live Here Anymore (Cover) | 02:40</li>
    </ol>
    <p>Go Top</p>
    <h2>VIDEO</h2>
    <h2>ORGANIC LOVE</h2>
    <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
    <p>Directed by VINCE MALC & EMILIA COLE</p>
    <p>Edited and Filmed by NICOLAS TROY</p>
    <p>Produced by NIKKI HEART,<br>Wix Films LTD.</p>
    <p>Go Top</p>
    <h2>VIDEO</h2>
    <h2>STREET LIGHT</h2>
    <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p>Directed by VINCE MALC & EMILIA COLE</p>
    <p>Edited and Filmed by NICOLAS TROY</p>
    <p>Produced by NIKKI HEART,<br>Wix Films LTD.</p>
    <p>Go Top</p>
</body>

</html>